header {
  background-color: rgb(100, 209, 191);
  padding: 0 15px;
  height: 15vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}
.headerItem {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .hambuger {
    margin-right: 0;
  }
}

.userDataFlex {
  display: flex;
  align-items: center;
  padding-right: 3vh;
}

.userName {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.search {
  align-self: self-end;
}

.btn {
  user-select: none;
  cursor: pointer;
  margin-top: 3vh;
  height: 4vh;
  width: 4vh;
  font-size: 20px;
  color: white;

  &:hover {
    box-shadow: none;
    transform: translateY(0.5vh);
  }

  &:active {
    box-shadow: none;
    transform: translateY(1vh);
  }
}

.logo {
  height: 13vh;
  margin-left: 1vw;
  margin-top: 1vh;
}

.logout {
  height: 6.5vh;
  margin: 0 3vh;
  cursor: pointer;
}

.listItem {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.menuGroupItemLinkWrapper {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

/* 参加してる島、イベントの表示・非表示 */
.open {
  display: block;
  margin-top: 4%;
}

.close {
  display: none;
}

/* メッセージアイコン */
.msgIcon {
  display: inline-block;
  margin-left: 1rem;
  width: 3vh;
  height: 3vh;
  padding-bottom: 0.2vh;
  color: #fff;
  border: 1px solid rgba(207, 135, 56, 1);
  background-color: rgba(207, 135, 56, 1);
  border-radius: 50%;
  text-align: center;
}

/* ハンバーガーメニューの関する記述 */

.hr {
  border: none;
  border-top: dashed 1px rgb(246, 242, 242);
  width: 19.5vw;
}

.hambuger {
  justify-items: baseline;
}

.menu {
  position: absolute;
  right: -30vw;
  width: 20vw;
  height: auto;
  background: #fff;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(100, 209, 191);
  transition: ease 0.5s;

  ul {
    padding-inline-start: 0px;
  }
}

.menuGroup {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 12px;
  list-style: none;
}

.menuGroupItem {
  width: 100%;
  flex: auto;
  padding: 4px;
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(173 158 142);
  }
}

.menuGroupItemLink {
  color: rgb(202, 115, 21);
  padding: 0.5em 0.5em;
  text-align: center;

  font-weight: bold;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: bold;
}

/*チェックボックスを非表示*/
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;

  /*チェックボックスにチェックが入ったら*/
  &:checked + label span:nth-of-type(1) {
    transform: translateY(3svh) rotate(-45deg);
  }
  &:checked + label span:nth-of-type(2) {
    opacity: 0;
  }
  &:checked + label span:nth-of-type(3) {
    transform: translateY(-2.8vh) rotate(45deg);
  }
  &:checked ~ .menu {
    right: 0;
  }
}

.menuTrigger,
.menuTrigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  margin-right: 3vh;
}
.menuTrigger {
  margin-right: 9vh;
  position: relative;
  width: 6.5vh;
  height: 6.5vh;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menuTrigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.7vh;
  background-color: rgba(207, 135, 56, 1);
  border-radius: 4vh;
}
.menuTrigger span:nth-of-type(1) {
  top: 0;
}
.menuTrigger span:nth-of-type(2) {
  top: 3vh;
}
.menuTrigger span:nth-of-type(3) {
  bottom: 0;
}

.icon {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 10%;
  margin-top: auto;
}

.input {
  height: 5vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 40vh;
  background-color: rgb(100, 209, 191);
  border: none;
  outline: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(194, 137, 66, 1);
}

.searchInput {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  &:checked + .radioName {
    color: rgb(0, 0, 0);
  }

  &:checked + .radioName:before {
    border: 0.6vh solid rgba(194, 137, 66, 1);
  }

  &:focus-visible + .radioName .radioText {
    background: linear-gradient(transparent 90%, rgba(33, 150, 243, 0.3) 90%);
  }
}

.radioName {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #666;

  &:before {
    content: "";
    display: inline-block;
    width: 1.2vh;
    height: 1.2vh;
    border: 2.5px solid #ffffff;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
  }
}
