@charset "UTF-8";
.App {
  background-image: url("/public/images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Modern", "Chalkboard", "Chalkboard SE" sans-serif;
  color: rgb(95, 95, 95);
  font-size: 2.5vh;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 2.5vh;
  border-radius: 1vh;
  padding-left: 0.5vh;
}

textarea {
  font-size: 2.5vh;
  border-radius: 1vh;
  padding-left: 0.5vh;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Modern", "Chalkboard", "Chalkboard SE" sans-serif;
}

button {
  font-size: 2.5vh;
  border: none;
  border-radius: 2vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgb(220, 158, 108);
  color: white;
  margin-left: 0.5vh;
}

button:hover {
  box-shadow: none;
  transform: translateY(0.5vh);
}

th {
  font-size: 2vh;
}

h2 {
  color: rgb(118, 102, 82);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* background-image: url("/public/images/bg.png"); */
.display {
  display: flex;
  margin-top: 15vh;
}

.main {
  max-width: 75%;
  margin: 5vh auto;
  padding: 3vh 0;
  height: 100%;
  text-align: center;
  background-color: rgb(255, 254, 245);
  border: dashed 0.5vh rgb(138, 121, 98);
  box-shadow: 0 0 0 1vh rgb(250, 248, 242), 0 0 0 2vh rgb(138, 121, 98);
  border-radius: 1vh;
}

/* Background styles */
.table {
  border-collapse: collapse;
  width: 111vh;
  border-bottom: solid 1px #eee;
}

.td {
  height: 12vh;
  padding-left: 4vh;
  background-color: rgb(255, 254, 245);
  font-weight: bold;
  text-align: left;
  display: flex;
}

.td2 {
  width: 100%;
  height: 15%;
  background-color: rgb(255, 254, 245);
}

.name {
  width: 36vh;
  margin: auto 0;
}

.icon {
  height: 8vh;
  width: 8vh;
  background-size: 35px;
  background-position: left 5px center;
  border-radius: 50%;
  margin: 0 5%;
  margin-top: 1vh;
}

.unsubBtn {
  margin-left: 14vh;
  height: 7vh;
  width: 25vh;
  border-radius: 3vh;
  color: rgb(94, 70, 44);
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  transition: 0.3s ease-in-out;
  background-color: white;
  font-weight: bold;
}
.unsubBtn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.ownerBtn {
  font-weight: bold;
  height: 7vh;
  width: 28vh;
  border-radius: 3vh;
  color: rgb(94, 70, 44);
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  transition: 0.3s ease-in-out;
  background-color: white;
}
.ownerBtn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.exileBtn {
  font-weight: bold;
  height: 7vh;
  width: 25vh;
  margin-left: 3vh;
  border-radius: 3vh;
  color: rgb(94, 70, 44);
  border: 3px solid gray;
  box-shadow: 0.7vh 0.7vh gray;
  transition: 0.3s ease-in-out;
  background-color: white;
}
.exileBtn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.notExileBtn {
  font-weight: bold;
  height: 7vh;
  width: 25vh;
  margin-left: 3vh;
  border-radius: 3vh;
  color: white;
  border: 3px solid gray;
  background-color: gray;
}/*# sourceMappingURL=membersList.module.css.map */