@charset "UTF-8";
.App {
  background-image: url("/public/images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Modern", "Chalkboard", "Chalkboard SE" sans-serif;
  color: rgb(95, 95, 95);
  font-size: 2.5vh;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 2.5vh;
  border-radius: 1vh;
  padding-left: 0.5vh;
}

textarea {
  font-size: 2.5vh;
  border-radius: 1vh;
  padding-left: 0.5vh;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Modern", "Chalkboard", "Chalkboard SE" sans-serif;
}

button {
  font-size: 2.5vh;
  border: none;
  border-radius: 2vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgb(220, 158, 108);
  color: white;
  margin-left: 0.5vh;
}

button:hover {
  box-shadow: none;
  transform: translateY(0.5vh);
}

th {
  font-size: 2vh;
}

h2 {
  color: rgb(118, 102, 82);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* background-image: url("/public/images/bg.png"); */
.all {
  display: flex;
  text-align: center;
  margin-top: 15vh;
}

.back {
  background-color: rgb(255, 254, 245);
  margin-top: 2%;
  padding-top: 1%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 1%;
  width: 65%;
  border: dashed 0.5vh rgb(138, 121, 98);
  box-shadow: 0 0 0 1vh rgb(250, 248, 242), 0 0 0 2vh rgb(138, 121, 98);
  border-radius: 1vh;
}

.name {
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.input {
  width: 75vh;
  border: solid 0.3vh rgb(138, 121, 98);
  border-radius: 1vh;
}

.imgSide {
  display: flex;
  align-items: center;
  height: 19vh;
  border-bottom: 1px solid #b4b4b4;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.detail {
  width: 75vh;
  height: 17vh;
  font-size: 2.2vh;
  margin: 3vh 0;
  text-align: left;
  border: solid 0.3vh rgb(138, 121, 98);
  border-radius: 1vh;
}

.detail {
  margin-top: 10px;
}

.icon {
  width: 17vh;
  height: 17vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

.tag {
  display: flex;
  margin-bottom: 10px;
}

.displaySide {
  display: flex;
}

.plus_btn {
  margin: 3vh;
}

.edit_btn {
  margin: 3vh;
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  margin-top: 15px;
  font-weight: bold;
  color: rgb(94, 70, 44);
  border: 3px solid rgb(255, 182, 112);
  box-shadow: 0.7vh 0.7vh rgb(255, 182, 112);
  transition: 0.3s ease-in-out;
  background-color: white;
}
.edit_btn:disabled {
  color: white;
  width: 22vh;
  border: 3px solid gray;
  border-radius: 3vh;
  font-weight: bold;
  box-shadow: none;
  transition: none;
  background-color: gray;
  margin-top: 2vh;
}

.noEdit {
  color: rgb(94, 70, 44);
  background-color: white;
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.noEdit:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.delete {
  text-align: right;
}

.delete_btn {
  margin: 3vh;
  margin-top: 15px;
  font-weight: bold;
  height: 7vh;
  width: 25vh;
  border-radius: 3vh;
  color: white;
  border: 3px solid gray;
  transition: 0.3s ease-in-out;
  background-color: gray;
}
.delete_btn:hover {
  background-color: white;
  color: gray;
}

.tableCovered {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-direction: column; /* 縦方向に並べる */
  height: auto;
}

.table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0 6vh; /* 行間幅 */
  border-top: 1px solid rgb(149, 149, 149);
  margin-bottom: 6%;
  margin: auto;
}

.th {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: center;
  width: 23%;
  height: 9vh;
}

.td {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
}

.faileCenter {
  padding: 3vh;
}/*# sourceMappingURL=islandEdit.module.css.map */